*{
    box-sizing: border-box;
}

body{

    background-color: #FBC0AE;
    font-family:'Gloock', sans-serif;
    margin: 0;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px 100px;
}

#header-left-part, #header-right-part{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 20px;
}

#header-left-part nav ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    color: white;
}

#header-left-part nav ul li a{
    color: white;
    text-decoration: none;
    padding: 10px;
}

#header-left-part img{
    height: 60px;
    width: 60px;
}

#header-right-part img{
    height: 25px;
    width: 25px;
    margin: 10px;
}

#header-right-part p{
    color: white;
}

footer{
    display: flex;
    flex-direction: column;
    margin: 200px 0px 100px 200px;
    width: 100%;
    color: white;
}

footer h3{
    font-size: 30px;
}

footer ul{
    list-style: none;
    font-size: 20px;
}

footer ul li a{
    padding: 5px;
    text-decoration: underline;
    color: white;
}